.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.left5 { margin-left:5px; }
.left7 { margin-left:7px; }
.left10 { margin-left:10px; }
.left12 { margin-left:12px; }
.left15 { margin-left:15px; }
.left17 { margin-left:17px; }
.left20 { margin-left:20px; }
.left30 { margin-left:30px; }
.left36 { margin-left:36px!important; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }
.bottom45 { margin-bottom:45px; }

.padbot5 { padding-bottom:5px; }
.padbot7 { padding-bottom:7px; }
.padbot10 { padding-bottom:10px; }
.padbot15 { padding-bottom:15px; }
.padbot17 { padding-bottom:17px; }
.padbot30 { padding-bottom:30px; }

.padtop5 { padding-top:5px; }
.padtop7 { padding-top:7px; }
.padtop10 { padding-top:10px; }
.padtop15 { padding-top:15px; }
.padtop17 { padding-top:17px; }
.padtop30 { padding-top:30px; }

.padleft20 { padding-left:20px; }

.task_row{
  	border: 2px solid #D8D8D8;
	padding: 0px 3px 0px 3px;
    position: relative;
	width: 100%!important;
  	margin: 0px;
}
.task_row .well{
    cursor: text;
      margin: 0;
}
.task_expander{
    position: absolute;
    right: -2px;
    background-color: #DDDDDD;
    padding: 2px 8px 0px 2px;
    cursor: pointer;
    bottom: -27px;
}
.task_expander i{
    font-size: 23px;
    color: #5A5A5A;
}
.exapand_row .task_wrape_scroll{
    height: 500px;
}
.expand .fa-angle-double-up{
    display: none;
}
.collapse .fa-angle-double-up{
    display: block;
}
.collapse .fa-angle-double-down{
    display: none;
}
.pill {
    margin: 7px 1px 5px 4px;
  padding: 1px 6px;
  border-radius: 9px;
  font-size: 11px;
  font-weight: bold;
  background: #ccc;
  letter-spacing: 0.5px;
  white-space: pre;
  display: inline-block;
}
.col-md-3.pull-right.text-right.project-title {
  margin: 4px 23px 0px 1px;
  padding: 0;
  width: 20%;
}
.col-md-4.task_time {
 /* padding: 4px 0px 4px 0px;*/
}
.threads_wrap{
height:210px;
display:none;
}
.user_threads{
height:104%;
padding: 0px 0px 0px 0px;
}
.thread_input{
height:22%;
}
.comment {
  background: #d7e4ed;
  float:right;
}
.adminComment .comment {
  background: #d7e4ed;
  float:left;
}
.comment {
  position: relative;
  display: inline-block;
  width: 93%;
  vertical-align: top;
  padding: 3px 10px;
  background: #eee;
  margin-bottom: 15px;
  margin-left: 0;
    min-height: 48px;
}
.comment:after {
  border-color: transparent #d7e4ed;
}
.adminComment .comment:after {
  border-color: transparent #d7e4ed;
}
.adminComment .comment:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #d7e4ed;
  display: block;
  width: 0;
  z-index: 1;
}
.comment:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  border-style: solid;
  border-width: 10px 0px 10px 15px;
  border-color: transparent #eee;
  display: block;
  width: 0;
  z-index: 1;
}
.user_threads ul{
  list-style: none;
  width: 97%;
  margin: 0;
  padding: 0px 0px 0px 16px;
}
textarea.add_comment{
height:100%;
}
span.comment_time {
  position: absolute;
  right: 6px;
  bottom: 0px;
  font-size: 12px;
}
.edit_e_time{
	cursor:pointer;
}
.task_time{
padding-left:0px;	
}
.estimated_time >span{
	padding:0;
}
.estimated_time >span input{
	  margin: 2px 0px 0px 5px;
  height: 21px;
}
.e_time{
	  margin-left: 3px;
}
.task_detail{
  border-bottom: 1px solid #ddd;
  padding: 0;
  margin-left: -4px;
  margin-right: -5px;
}
.keyword_search{
	  padding: 0px;
 /* width: 18%;*/
  margin-right: 3px;
}
.keyword_search input{
	height: 33px;
}
.not_found {
	padding: 27px 0px 0px 0px;	
}
.row.ad_search_box {
  margin: 0;
  padding: 8px 11px 6px 11px;
  border-bottom: 1px solid #ddd;
  position:relative;
}
.ads_sh{
	position: absolute;
 	right: 12px;
}
.task_sortable{
	  margin: 2px 0px 0px 29px;	
}
.task_sortable i{
  font-size: 21px;
  color: #808080;
  padding: 0px 2px 0px 2px;
  cursor: move;	
}
.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 120px !important;
}
.box-footer{
  position: fixed;
  bottom: 0;
  width: 726px;
  background: #EAEAEA;
  left: 17.3%;
  padding: 17px 25px 0px 26px;
  border: 1px solid #F0F0F0;  
  z-index: 99;  height: 125px;
}
div#add_task {
  min-height: 90px;
    border: 1px solid #A5A5A5;
}
.add_task{
float: left;
  width: 100%;
  height: 88px;	
}
.add_task:focus {
 /* margin-top: -25px;
  height: 89px;*/
}
.attach_files ul li{
  border-top: 1px solid #ddd;	
}
.attach_files ul {
  list-style: none;
  padding: 0px;
  margin: 0 0 2px 0;
}
.attach_files ul li {
  border-top: 2px solid #FFF;
  background: #F0F0F0;
  padding: 2px 5px 2px 5px;
}
.attach_files ul li:first-child {
  border: none;
}
span.delete_file {
  cursor: pointer;
}
span.delete_file i {
  color: #CD3737;
}
.task_attachments ul{
padding: 0px 0px 0px 0px;
  list-style: none;
  margin: 3px 0 0 0;	
}
.panel-heading{
	min-height: 42px;	
}
.bootstrap-select, .ads_time_wrp{
	  float: left!important;
  margin-right: 3px;
}
.ads_time_wrp{
	padding:0!important;
	/*width: 12%;*/
	margin-left:0;	
}
.datepicker td, .datepicker th{
  width: 34px!important;
  height: 25px!important;	
}
.add_more_files {
  padding: 0;
  cursor: pointer;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
height:30px!important;	
}
.datepicker{
margin-top:0px!important;	
}
.ads_status{
padding: 0;
  margin-right: 3px;
  /*width: 20%;	*/
}
.ads_assignee{
	  padding: 0;
  margin-right: 3px;
  /*width: 21%;*/
}
.ads_project{
	padding: 0;
  margin-right: 3px;
  /*width: 20%;*/
}
.well.edit_task {
  position: relative;
}
a.close_edit_window {
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 1px;
  display:none;
}
a.close_edit_window i{
  font-size: 16px;	
}
a.delete_task_file {
  color: #E05454;
  margin: 0px 0px 0px 5px;
}
.show_hide_add_task {
  position: fixed;
  right: 294px;
  bottom: 0px;
}
.total_task {
  padding-left: 27px;
  padding-top: 9px;
}
.total_task label{
	margin:0;	
}
.ad_search_wrap {
  width: 100%;
}
a.s_h_search {
  position: absolute;
  right: 0;
}
.ad_search_label{
padding:0;	
}
.edit_task img{
	position: absolute;
  left: 49%;
  display:none;
}
.my_timer {
 padding: 0;
  width: 29%;
  margin: 1px 0px 0px 0px;
}
.my_timer .time{
  float: left;
}
.my_timer .btn{
  padding: 0px 8px 0px 7px;
  margin: 2px 1px 0px 2px;
  float: right;	
}
.worked_time{
	float: left;
}